{% extends "consumer/base.html" %}

{% block style %}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 40%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

.fa-linkedin {
    background: #0e76a8 ;
    color: white;
}
.fa-envelope {
    background: #BB001B ;
    color: white;
}

.fa-whatsapp {
  background: #25D366;
  color: white;
}

{% endblock style %}
    
       
    

{% block body %}


          <div class="container">
            <div class="jumbotron">
          <h1 class="display-4">Hello, world!</h1>
          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          <hr class="my-4">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
          </div>
        
      
        <div class="album py-5 bg-light">
          <div class="container">
      
            <div class="row">
              <div class="col-lg-3">
                <div class="card shadow-sm"> 
                    <img src="/media/images/default.jpeg" class="card-img-top" alt="...">     
                  <div class="card-body">
                    <h5 class="card-title">Bhairav Narkhede</h5><hr>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="row">
                        <div class="col">
                            <a href="https://wa.me/918879172868?text=Hey!%20I%20would%20like%20to%20connect%20with%20you%20regarding%20your%20website" class="fa fa-whatsapp"></a>
                        </div>
                        <div class="col">
                          <a href="https://www.linkedin.com/in/bhairav-narkhede/" class="fa fa-linkedin"></a>
                        </div>
                        <div class="col">
                            <a href="mailto:bhairavn19@gmail.com" class="fa fa-envelope"></a>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="card shadow-sm">  
                    <img src="/media/images/default.jpeg" class="card-img-top" alt="...">         
                  <div class="card-body">
                    <h5 class="card-title">Harshit Jain</h5><hr>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="row">
                        <div class="col">
                            <a href="https://wa.me/919730813585?text=Hey!%20I%20would%20like%20to%20connect%20with%20you%20regarding%20your%20website" class="fa fa-whatsapp"></a>
                        </div>
                        <div class="col">
                          <a href="https://www.linkedin.com/in/harshit-n-jain/" class="fa fa-linkedin"></a>
                        </div>
                        <div class="col">
                            <a href="mailto:flyasharshit24.hj@gmail.com" class="fa fa-envelope"></a>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="card shadow-sm">    
                    <img src="/media/images/default.jpeg" class="card-img-top" alt="...">       
                  <div class="card-body">
                    <h5 class="card-title">Priyal Babel</h5><hr>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="row">
                        <div class="col">
                            <a href="https://wa.me/918976514635?text=Hey!%20I%20would%20like%20to%20connect%20with%20you%20regarding%20your%20website" class="fa fa-whatsapp"></a>
                        </div>
                        <div class="col">
                          <a href="https://www.linkedin.com/in/priyal-babel/" class="fa fa-linkedin"></a>
                        </div>
                        <div class="col">
                            <a href="mailto:priyalbabel@gmail.com" class="fa fa-envelope"></a>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="card shadow-sm">
                    <img src="/media/images/default.jpeg" class="card-img-top" alt="...">     
                  <div class="card-body">
                    <h5 class="card-title">Shubh Gangar</h5><hr>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="row">
                        <div class="col">
                            <a href="https://wa.me/919819340022?text=Hey!%20I%20would%20like%20to%20connect%20with%20you%20regarding%20your%20website" class="fa fa-whatsapp"></a>
                        </div>
                        <div class="col">
                          <a href="https://www.linkedin.com/in/shubh-gangar-b8a251194/" class="fa fa-linkedin"></a>
                        </div>
                        <div class="col">
                          <a href="mailto:shubhgangar111@gmail.com" class="fa fa-envelope"></a>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              
            
      
      <footer class="text-muted py-5">
        <div class="container">
          <p class="float-end mb-1">
            <a href="#">Back to top</a>
          </p>
        </div>
      </footer>

{% endblock body %}
      
     
            
