<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2.0/dist/flickity.min.css">
    <title>Our Site</title>
    <style>
    .fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 40%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

.fa-linkedin {
    background: #0e76a8 ;
    color: white;
}
.fa-envelope {
    background: #BB001B ;
    color: white;
}

.fa-whatsapp {
  background: #25D366;
  color: white;
}

    </style>
</head>
  <body>
  <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'consumer-home'%}">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'consumer-home'%}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                </li>
              </ul>
              <div class="navbar-nav">
                {% if user.is_authenticated%}
                    {% if user.is_consumer %}
                    <a class="nav-item nav-link" href="{% url 'consumer-profile' %}">Profile</a>
                    <a class="nav-item nav-link" href="{% url 'consumer-logout' %}">Logout</a>
                    {%else%}
                    <a class="nav-item nav-link" href="{% url 'service-profile' %}">Profile</a>
                    <a class="nav-item nav-link" href="{% url 'service-logout' %}">Logout</a>
                    {% endif %}
                {% else %}
                  <a class="nav-item nav-link" href="{% url 'consumer-login' %}">Login</a>
                  <a class="nav-item nav-link" href="{% url 'consumer-register' %}">Register</a>
                {% endif %}
              </div>
            </div>
          </nav>
      </header>

          <div class="container">
            <div class="jumbotron">
          <h1 class="display-4">Hello, world!</h1>
          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          <hr class="my-4">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
          </div>
        
      
        <div class="album py-5 bg-light">
          <div class="container">
      
            <div class="row">
              <div class="col-lg-3">
                <div class="card shadow-sm"> 
                    <img src="/media/images/default.jpeg" class="card-img-top" alt="...">     
                  <div class="card-body">
                    <h5 class="card-title">Bhairav Narkhede</h5><hr>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="row">
                        <div class="col">
                            <a href="https://wa.me/918879172868?text=Hey!%20I%20would%20like%20to%20connect%20with%20you%20regarding%20your%20website" class="fa fa-whatsapp"></a>
                        </div>
                        <div class="col">
                          <a href="https://www.linkedin.com/in/bhairav-narkhede/" class="fa fa-linkedin"></a>
                        </div>
                        <div class="col">
                            <a href="mailto:bhairavn19@gmail.com" class="fa fa-envelope"></a>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="card shadow-sm">  
                    <img src="/media/images/default.jpeg" class="card-img-top" alt="...">         
                  <div class="card-body">
                    <h5 class="card-title">Harshit Jain</h5><hr>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="row">
                        <div class="col">
                            <a href="https://wa.me/919730813585?text=Hey!%20I%20would%20like%20to%20connect%20with%20you%20regarding%20your%20website" class="fa fa-whatsapp"></a>
                        </div>
                        <div class="col">
                          <a href="https://www.linkedin.com/in/harshit-n-jain/" class="fa fa-linkedin"></a>
                        </div>
                        <div class="col">
                            <a href="mailto:flyasharshit24.hj@gmail.com" class="fa fa-envelope"></a>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="card shadow-sm">    
                    <img src="/media/images/default.jpeg" class="card-img-top" alt="...">       
                  <div class="card-body">
                    <h5 class="card-title">Priyal Babel</h5><hr>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="row">
                        <div class="col">
                            <a href="https://wa.me/918976514635?text=Hey!%20I%20would%20like%20to%20connect%20with%20you%20regarding%20your%20website" class="fa fa-whatsapp"></a>
                        </div>
                        <div class="col">
                          <a href="https://www.linkedin.com/in/priyal-babel/" class="fa fa-linkedin"></a>
                        </div>
                        <div class="col">
                            <a href="mailto:priyalbabel@gmail.com" class="fa fa-envelope"></a>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="card shadow-sm">
                    <img src="/media/images/default.jpeg" class="card-img-top" alt="...">     
                  <div class="card-body">
                    <h5 class="card-title">Shubh Gangar</h5><hr>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="row">
                        <div class="col">
                            <a href="https://wa.me/919819340022?text=Hey!%20I%20would%20like%20to%20connect%20with%20you%20regarding%20your%20website" class="fa fa-whatsapp"></a>
                        </div>
                        <div class="col">
                          <a href="https://www.linkedin.com/in/shubh-gangar-b8a251194/" class="fa fa-linkedin"></a>
                        </div>
                        <div class="col">
                          <a href="mailto:shubhgangar111@gmail.com" class="fa fa-envelope"></a>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              
            
      
      <footer class="text-muted py-5">
        <div class="container">
          <p class="float-end mb-1">
            <a href="#">Back to top</a>
          </p>
        </div>
      </footer>

  
    <!-- Optional JavaScript; choose one of the two! -->

   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  
   <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'></script>   
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>


    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  
  </body>
</html>    
            
