
{% extends "consumer/base_consumer.html" %}
{% block style %}
* {
    box-sizing: border-box;
  }
  
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

{% endblock style %}

{% block body %}
   <div class="container" style="padding-top: 35px;">
        <div class="jumbotron">
            <h1>Bootstrap Tutorial</h1>      
            <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</p>
            <form action="{% url 'search-product' %}" method="GET">
				  <div style=" display: flex;">
	        		<input class="form-control" style="display: inline;" type="text" name="q" placeholder="Search">
					<button type="submit" class="btn btn-success-outline" ><i class="fa fa-search " style="font-size:24px; color:white;"></i> </i></button>
					</div>
	        	</form>
    </div>

    <div class="container">
        <br>
        {%for product in products %}
        <a href="/consumer/product_view/{{product.id}}" style='text-decoration: none; color:black;'><div class="media">
            <div class="media-left media-middle">
                <img src="default.jpg" class="media-object" style="width:160px; height:120px ">
            </div>
            <div class="media-body" style="padding-left: 25px">
                <div>
                    <h2 class="media-heading" > {{product.product_distributer}} </h2> <h5 class="text-muted"> {{product.product_distributer.service_name}}  </h5>
                </div>
                <hr>
                <h3> {{product.product_name}} </h3>
                <h3> {{product.product_price}} </h3> 
                <h5> Rating </h5>
            </div>
        </div>
        </a>
        <hr style= "border: 2px solid rgb(68, 66, 66); border-radius: 2px;">
        {% endfor %}
        

{% endblock body %}



    

        